.card-person {
    display: flex;
    align-items: center;
}
.card-person--desc {
    padding-left: 30px;
}
.card-person--name {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
}
.card-person--post {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    color: rgba(255, 255, 255, 0.3);
}