.carousel {
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
}
.carousel__list {
    display: flex;
}
.carousel__item {
    margin-right: 80px;
}
.carousel__item:last-child {
    margin-right: 0;
}
.carousel__buttons {
    top: -145px;
    right: 270px;
    width: 130px;
    height: 50px;
}