.btn--submit {
    padding: 34px 117px 34px 117px;
    background-image: linear-gradient(to right, #ea7400, #f29400);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
    @include phones {
        padding: 24px 80px 24px 80px;
        width: 100%;
    } 
}