.nav__list {
  display: flex;
  align-items: center;
  font-size: 16px;  
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}
.nav__link {
  text-decoration: none;
}
.footer__nav .nav__list  {
  padding-bottom: 70px;
  color: white;
}