.nav__list {
  display: flex;
  align-items: center;
  font-size: 16px;
    @include tablets {
      display: flex;
      flex-wrap: wrap;
      height: 60px;
      align-content: space-between;
    } 
    @include phones {
      align-content: space-between;
      height: 100px;
    }
   
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}
.nav__link {
  text-decoration: none;
}
.footer__nav {
  color: white;
  margin-bottom: 70px;
}