.welcome-section {
    background-image: linear-gradient(to top, rgba(27,31,34,1) 55%, rgba(27,31,34,0.6));
    color: white;
    }
.works, .values {
    margin-bottom: 200px;
}
.values {
    padding-bottom: 150px;
}
