.section-title {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    opacity: 1;
    margin-bottom: 40px;
    color: white;
  }

.section-title--dark {
    color: #2b3948;
}
.section-title--reviews, 
.section-title--contacts {
    margin-bottom: 100px;
}
.section-title--contacts{
    @include tablets {
        text-align: center;
      }
}