.tags__item {
    background-color: #F1F5F9;
    border-radius: 20px;
    padding: 18px 23px 16px 19px;       
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(40, 51, 64, 0.7);
    text-transform: uppercase;
    margin-right: 10px;
}
.tags__item:last-child {
    margin-right: 0;
}
.tags {
    
    display: flex;
    justify-content: space-between;
}