.tags__item {
    padding: 18px 23px 16px 19px;       
    font-family: 'OpenSans';
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(40, 51, 64, 0.7);
    text-transform: uppercase;
    
}
.tags {
    background-color: #F1F5F9;
    border-radius: 20px;
}