.user {
  display: flex;
  flex-direction: column;
}

.user__avatar {
    margin-bottom: 20px;
    align-self: center;
}
.user__desc {
    display: flex;
    flex-direction: column;
}
.user__desc-item {
    display: flex;
    justify-content: space-between;
}
.user__key {
  color: rgba(255, 255, 255, 0.15);
}