
.values__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.values__title {
    align-self: center;
    max-width: 590px;
    margin-bottom: 90px;
    @include tablets {
        flex-wrap: wrap;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 56%;
      }
}
.section-title--values {
    @include tablets {
        width: 60%;
      }
}
